In [1]:
print("hello world")

hello world

In [2]:
x = 2
y = 3

In [3]:
x + y

5

In [5]:
print(x + y)
x - y

5

-1

In [1]:
mynums = [1, 2, 3, 4, 5]
mynums

[1, 2, 3, 4, 5]

In [2]:
for n in mynums:
    print(n+1)

2
3
4
5
6

In [3]:
mynums

Type:        list
String form: [1, 2, 3, 4, 5]
Length:      5
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [5]:
import pandas as pd
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
mynums.sort(reverse=True)
mynums

[5, 4, 3, 2, 1]